body {
    background-color: greenyellow;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    background-image: url(../Images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
}

.menu {
    flex-grow: 1;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu li {
    border: 5px solid rgb(3, 3, 3);
    background-color: rgb(255, 157, 29);
    font-size: 50px;
    text-align: center;
    width: 100%;
}

.logo {
    height: 200px;
    width: 200px;
    border-radius: 150px;
    margin-right: 10px;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.description {
    font-size: 40px;
    margin: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.evolution {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.priceTable {
    border-collapse: collapse;
    font-size: 50px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.priceTable td {
    border: 5px solid black;
    width: 800px;
    text-align: center;
}

.tableHeader {
    background-color: rgb(255, 157, 29);
    ;
}

.priceDescription {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.formDescription {
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


input {
    height: 30px;
}

select {
    height: 30px;
    width: 150px;
}

.fursuitForm {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    background-color: orange;
    height: 1000px;
    width: 1127px;
}

.fursuitName {
    border: 5px solid black;
    text-align: center;
    font-size: 30px;
    border-radius: 50px;
}

.fursuitTable {
    height: 450px;
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-inline: 30px;
}


.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    animation: spin 2s linear infinite;
    height: 200px;
    width: 200px;
    margin-top: 100px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    margin-top: 20px;
    margin-left: 500px;
    margin-right: 500px;
    text-align: center;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-item img {
    max-width: 100%;
    height: 700px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.signUpInButton {
    margin: 20px;
    display: flex;
    justify-content: end;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(247, 173, 14);
    border: 15px solid darkgreen;
    padding: 20px;
    height: 200px;
    width: 400px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

#signUpBtn {
    border: 5px solid orangered;
    border-radius: 10px;
    background-color: gold;
    font-size: large;
    transition: background-color 0.3s;
}

#signInBtn {
    border: 5px solid orangered;
    border-radius: 10px;
    background-color: gold;
    font-size: large;
    transition: background-color 0.3s;
}

#signUpBtn:hover,
#signInBtn:hover {
    background-color: rgb(121, 218, 11);
}